*{
    text-align: center;
}

img{
    width: 100%;
    mix-blend-mode:luminosity;
    cursor: pointer;
}
div{
    background-color: black;
    width: 50%;
    margin: 0 auto;
}
div:hover img{
    mix-blend-mode: normal;
}


