*{margin: 0; padding: 0;}
body, html{height: 100%; background-color: transparent;}
section.message-box{
    position: absolute; top: 50%; left: 50%; background-color: #fff; border: 1px solid #aaa; 
    -ms-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);transform: translate(-50%, -50%);
    width: 600px; height: 252px; border-radius: 10px; padding: 80px 24px; box-sizing: border-box;
}
section.message-box > div {
    text-align: center;
}
section.message-box button{cursor: pointer; padding: 10px 25px; box-sizing: border-box; border: none; border-radius: 5px; background-color: #263238; color: #fff;}
section.message-box button:nth-of-type(2n){margin-left: 15px;}
.type-confirm{
    display: none;
}
p.msg{
    padding-bottom: 60px;
}
