body{
    margin: 0; padding: 0;
    background-color: #233052;
    /* width: 1980px;
    height: 1080px; */
}
div{
    display: flex;
    justify-content: center;
}
div:not(:last-of-type){
    margin-bottom: 200px;
}

/* div:last-of-type > img{
    opacity: 0;
} */
/* div:first-of-type > img{
    position: absolute;
    top: 10%;
    left: 35%;
} */
